@import './variables';


html, body{
    height: 100%;
}

.contact-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
    @media only screen and (max-width: 730px) {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.contact-page {
    background-color: $yellow;
    border-radius: 8px;
    min-height: 93.5%; 
    min-width: 100%; 
}

.contact-text{
    font-size: 72px;
    margin-top: 2em;
    @media only screen and (max-width: 730px) {
       font-size: 28px;
    }
}

.button-right{
    margin-left: 2em;
}
.button-left{
    margin-right: 2em;
}

#body{
    background-color: $white;
}