@import './variables';
$test : 4;

html {
    height: 100vh;
}

.fun-page{
    background-color: $red;
    border-radius: 8px;
    min-height: 100%; 
    min-width: 100%; 
    border-bottom: solid $white 1.5em;
    @media only screen and (max-width: 375px) {
        border-bottom: solid $white 0.5em;
    }
}

#root {
    height: 100%;
    margin-bottom: 2em;
}

.fun-header{
    font-family: "Pridi";
    font-size: 72px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
    @media only screen and (max-width: 730px) {
        font-size: 36px;
        margin-bottom: 1em;
    }
}

.fun-text{
    margin-left: 1.6em;
    @media only screen and (max-width: 730px) {
        margin-left: 1em;
    }
    
}

.fun-content{
    
    @media only screen and (max-width: 730px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.entertainment{
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 730px) {
        flex-direction: column;
        justify-content: center;
    }
}

#spotify{
    margin: 1em 2em 2em 2em;
    
    @media only screen and (max-width: 500px) {
        margin: 1em 0.2em 2em 0.2em;
        width: 300px ; 
        height: 540px ;
    }
}

#youtube{
    margin: 1em 2em 2em 2em;
        width: 1280px ; 
        height: 720px ;
        
    @media only screen and (max-width: 1380px) {
        width: 854px ; 
        height: 480px ;
    }
    @media only screen and (max-width: 960px) {
        width: 640px ; 
        height: 360px ;
    }
    @media only screen and (max-width: 700px) {
        width: 426px ; 
        height: 240px ;
    }
    @media only screen and (max-width: 500px) {
        margin: 1em 0.2em 2em 0.2em;
        width: 310px ; 
        height: 174px ;
    }
    @media only screen and (max-width: 500px) {
        margin: 1em 0.2em 2em 0.2em;
        width: 310px ; 
        height: 174px ;
    }
    @media only screen and (max-width: 320px) {
        margin: 1em 0 2em 0;
        width: 300px ; 
        height: 169px ;
    }
    
}

.fun-header-container{
    display: flex;
    align-items: center;
}

#thanks{
    width: 40% ; 
    height: 40% ;
    margin: 2em;
}

#goose{
    width: 25% ; 
    height: 25% ;
}

#duck{
    width: 30% ; 
    height: 30% ;
}

#hold{
    width: 35% ; 
    height: 35% ;
}

.fun{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.music {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.comedy {
    display: flex;
    flex-direction: column;
    align-items:  center;
    
}

.secret {
    display: flex;
    justify-content: center;
    align-items: center;
}