@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Pridi&display=swap');

@font-face{
    font-family: "Atkinson-Hyperledgible-Regular";
    src: url("../font/Atkinson/Atkinson-Hyperlegible-Regular-102.ttf");
}
@font-face{
    font-family: "Atkinson-Hyperledgible-Bold";
    src: url("../font/Atkinson/Atkinson-Hyperlegible-Bold-102.ttf");
}

@font-face{
    font-family: "Atkinson-Hyperledgible-Italic";
    src: url("../font/Atkinson//Atkinson-Hyperlegible-Italic-102.ttf");
}


html{
    background-color: $white;
    padding: 2em;
    @media only screen and (max-width: 770px) {
        padding: 1em;
    }
}

.btn-primary {
    background-color: $pink;
    color: white;
  }

#greet-blurb {
    font-family: "Atkinson-Hyperledgible-Regular";
}

.greet-page{
    background-color: $green;
    border-radius: 8px;
    padding-bottom: 13em;
    @media only screen and (max-width: 770px) {
        // padding-bottom: 16.5em;
      }
}

#greet-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
    @media only screen and (max-width: 1330px) {
        flex-direction: column;
    }
    @media only screen and (max-width: 770px) {
        padding-top: 2em;
    }
}

#prof-pic {
    
    min-height: 333.33px;
    @media only screen and (max-width: 505px) {
        // display: none;
        min-width: 250px;
    } 
}

.greet-info{
    margin-left: 6em;
    @media only screen and (max-width: 770px) {
        margin-left: 0;
    } 
}

#greet-title{
    font-size: 96px;
    font-family: "Pridi";
    @media only screen and (max-width: 730px) {
        font-size: 72px;
    }
    @media only screen and (max-width: 560px) {
        font-size: 48px;
    }
    @media only screen and (max-width: 560px) {
        font-size: 48px;
    }
    @media only screen and (max-width: 315px) {
        font-size: 36px;
    }
}

#header-im {
    @media only screen and (min-width: 806px) {
        display: none;
    } 
}

#icon-svg {
    margin-right: 2em;
    @media only screen and (max-width: 560px) {
        margin-right: 1em;
    }
}

#button{
    margin-top: 2em;
}

a:hover {
        text-decoration: none;
    }

//fonts

h1 {
    font-family: "Atkinson-Hyperledgible-Bold";
    color: $white;
    font-size: 72px;
}
h3 {
    font-family: "Atkinson-Hyperledgible-Regular";
    color: $white;
    font-size: 36px;
}

p {
    font-family: "Atkinson-Hyperledgible-Bold";
    color: $white;
    font-size: 24px;
}



#btn-sm {
    background-color: $pink !important;
    font-family: "Atkinson-Hyperledgible-Regular";
    font-size: 24px;
    border: $pink;
}

.spacer {
    // margin: 4.55em;
}