@import './variables';

@mixin colorBG($background){
    background-color: $background;
}

body {
    margin: 2em;
    background-color: $white;
}

#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    @media only screen and (max-width: 990px) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

#navtext{
    font-family: 'Atkinson-Hyperledgible-Regular';
    font-weight: 100;
    color: $white;
    font-size: 30px;
    &:hover {
        text-decoration: underline $white;
      }
}

.navbar__item{
    margin-left: 4em; 
    
}

#navHeader1{
    font-family: "Pridi";
    font-size: 36px;
    color: $white;
    @media only screen and (max-width: 1100px) {
        padding: 0.5em;
        display: none;
    }
}
#navHeader2{
    font-family: "Pridi";
    font-size: 48px;
    color: $white;
    @media only screen and (min-width: 1101px) {
        display: none;
    }
}

#nav-choices{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2em;
    @media only screen and (max-width: 990px) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  

  #navbar-container {
      padding-top: 2em;
  }