@import './variables';

#btn-sm {
    // background-color: $pink !important;
    font-family: "Atkinson-Hyperledgible-Regular";
    font-size: 24px;
    // border: $pink;
    color: $white;
}

//Project List

.work-page{
    background-color: $teal;
    border-radius: 8px;
    padding-bottom: 1em;
    min-height: 100%; 
    min-width: 100%; 
}

#projects-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 1em 2em;
}

#project-pics {
    min-width: 447px;
    min-height: 335px;
    max-width: 447px;
    max-height: 335px;
}

.project-title {
    color: $white;
    font-family: "Pridi";
    font-size: 36px;
}

.date {
    border-bottom: 1px solid $white;
}

#project-header {
    font-family: "Pridi";
    font-size: 72px;
    padding: 1em 0 0.5em 0;
    @media only screen and (max-width: 730px) {
        font-size: 48px;
    }
}

#large-screen {
    @media only screen and (max-width: 1200px) {
    display: none;
    }
    @media only screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em 0;
        padding: 1em;
        border-radius: 8px;
    }
}

#small-screen {
    @media only screen and (min-width: 1200px) {
    display: none;
    }
    @media only screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        padding: 1em;
        border-radius: 8px;
    }
}

//Laugh Track


#CS {
    h2 {
        font-family: "Pridi";
        font-size: 72px;
        color: $white;
        text-align: center;
        @media only screen and (max-width: 770px) {
            font-size: 48px;
    }
        @media only screen and (max-width: 400px) {
            font-size: 36px;
    }
    }
    h3 {
        font-family: "Pridi";
        color: $white;
        font-size: 48px;
        text-align: center;
        padding: 1em 0;
        text-decoration: underline;
    }
    // h4 {
    //     font-family: "Pridi";
    //     color: $white;
    //     font-size: 36px;
    //     text-align: center;
    //     padding: 1em 0;
    //     text-decoration: underline;
    // }
    h5 {
        font-family: "Pridi";
        color: $white;
        font-size: 48px;
        text-align: center;
        padding: 0.5em 0;
    }
    h6 {
        font-family: "Atkinson-Hyperledgible-Bold";
        color: $white;
        font-size: 30px;
        text-align: center;
        padding: 0.5em 0;
    }
    #link {
        text-decoration: underline;
        font-size: 30px;
        font-family: "Atkinson-Hyperledgible-Regular";
        @media only screen and (max-width: 400px) {
            font-size: 24px;
    }
    }
    p {
        font-family: "Atkinson-Hyperledgible-Regular";
    }
    .learn-list {
        font-family: "Atkinson-Hyperledgible-Regular";
        color: $white;
        font-size: 24px;
    }
    img{
        margin: 0 1em;
    } 
    #gh-link {
        text-align: center;
    }
    #user-prof{
        padding: 1em;
    }
}

//Cohort

#live-link {
    margin-top: 0;
}

#case-study-back {
    color: $white;
    border: none;
    font-size: 24px;
    margin-top: 2em;
    margin-left: 2em;
    text-decoration: underline;
    background-color: $green;
    &:hover {
        color: $blue;
    }
    @media only screen and (max-width: 520px) {
        margin-left: 0;
        margin-top: 1em;
    }
}

li {
    font-family: "Atkinson-Hyperledgible-Regular";
    color: $white;
    font-size: 24px;
}

#margin {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}